<%= render 'header' %> 
	<div class="container">
		<div class="rows">
			
			<p class="alert alert-success">Success! Your donation has been completed!</p>
			

		</div>
	</div>
<%= render 'footer' %> 