<%= render 'header' %>   
    <section id="feature_slider" class="lol">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('/assets/fame4good/img/backgrounds/landscape.png') repeat-x top center;">
            <img class="asset left-30 sp600 t120 z1" src="/assets/fame4good/img/slides/scene1/hero-1.jpg" />
            <div class="info">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url('/assets/fame4good/img/backgrounds/aqua.jpg') repeat-x top center;">
            <div class="info">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
            </div>
            <img class="asset left-480 sp600 t260 z1" src="/assets/fame4good/img/slides/scene2/left.png" />
            <img class="asset left-210 sp600 t213 z2" src="/assets/fame4good/img/slides/scene2/middle.png" />
            <img class="asset left60 sp600 t260 z1" src="/assets/fame4good/img/slides/scene2/right.png" />
        </article>
        <article class="slide" id="tour" style="background: url('/assets/fame4good/img/backgrounds/color-splash.jpg') repeat-x top center;">
            <img class="asset left-472 sp650 t210 z3" src="/assets/fame4good/img/slides/scene3/ipad.png" />
            <img class="asset left-365 sp600 t270 z4" src="/assets/fame4good/img/slides/scene3/iphone.png" />
            <img class="asset left-350 sp450 t135 z2" src="/assets/fame4good/img/slides/scene3/desktop.png" />
            <img class="asset left-185 sp550 t220 z1" src="/assets/fame4good/img/slides/scene3/macbook.png" />
            <div class="info">
                <h2>Fully Responsive theme</h2>
                <a href="features.html">TOUR THE PRODUCT</a>
            </div>
        </article>
        <article class="slide" id="responsive" style="background: url('/assets/fame4good/img/backgrounds/indigo.jpg') repeat-x top center;">
            <img class="asset left-472 sp600 t120 z3" src="/assets/fame4good/img/slides/scene4/html5.png" />
            <img class="asset left-190 sp500 t120 z2" src="/assets/fame4good/img/slides/scene4/css3.png" />
            <div class="info">
                <h2>
                    Responsive <strong>HTML5 & CSS3</strong>
                    Theme
                </h2>                
            </div>
        </article>        
    </section>

    <div id="features">
        <div class="container">
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="/assets/fame4good/img/homepage1.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico1.png" />
                        Who Do You Want to Meet?
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis elit a urna volutpat pretium. Morbi tincidunt gravida elit, quis venenatis ante suscipit nec. Nullam in auctor mi. Aliquam ut eros sit amet mauris vulputate tincidunt. Etiam nec rhoncus diam, sit amet pretium velit. Vivamus a ante feugiat, ultrices lorem id, posuere dui. Nullam nisl nisi, tempus sed tortor vel, placerat ultricies sapien. Sed sodales urna felis, hendrerit pellentesque lectus tempor sit amet.
                    </p>
                    <a href="#" class="btn btn-primary">Request a Celeberity</a>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="/assets/fame4good/img/showcase2.png" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico2.png" />
                        Stay Connected
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis elit a urna volutpat pretium. Morbi tincidunt gravida elit, quis venenatis ante suscipit nec. Nullam in auctor mi. Aliquam ut eros sit amet mauris vulputate tincidunt.
                    </p>
                </div>                
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="/assets/fame4good/img/showcase-3.jpg" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico3.png" />
                        Find a Celebrity
                    </h3>
                    <p>
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis elit a urna volutpat pretium. Morbi tincidunt gravida elit, quis venenatis ante suscipit nec. Nullam in auctor mi. Aliquam ut eros sit amet mauris vulputate tincidunt.
                    </p>
                </div>
            </div>
        </div>
    </div>
<%= render 'footer' %>  