<%= render 'header' %>   
    <section id="feature_slider" style="margin-top:-108px;" class="lol">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('/assets/fame4good/img/backgrounds/hero-1.jpg') repeat-x top center;">
            
            <div class="info">
                <h2>Meet King James</h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background: url('/assets/fame4good/img/backgrounds/hero-3.jpg') repeat-x top center;">
            <div class="info">
                <h2>Hang with<br/> Big Papi</h2>
                <a href="features.html">TOUR THE PRODUCT</a>
            </div>
        </article>
        <article class="slide" id="showcasing" style="background: url('/assets/fame4good/img/backgrounds/hero-2.jpg') repeat-x top center;">
            
            <div class="info">
                <h2>Tom Brady</h2>
            </div>
        </article>       
    </section>
<div id="features">
        <div class="container">
            <div class="row feature video">
                <div class="col-sm-6">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
                <div class="col-sm-6 info">
                    <iframe width="420" height="315" src="//www.youtube.com/embed/zA4rwiOVm14" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>            <div class="row feature">
                <div class="col-sm-6">
                    <img src="/assets/fame4good/img/showcase1.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico1.png" />
                        Who Do You Want to Meet?
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="/assets/fame4good/img/showcase2.png" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico2.png" />
                        Stay Connected
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>                
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="/assets/fame4good/img/showcase-3.jpg" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico3.png" />
                        Find a Celebrity
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
        </div>
    </div>

<%= render 'footer' %>  