<%= render 'header' %>  
<div id="features">
        <div class="container">
        	 	<h2>How It Works</h2>
          <div class="row feature">

                <div class="col-sm-6">
                    <img src="/assets/fame4good/img/showcase1.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico1.png" />
                        Step 1
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>

                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="/assets/fame4good/img/showcase2.png" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico2.png" />
                        Step 2
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>

                </div>                
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="/assets/fame4good/img/showcase-3.jpg" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
                        <img src="/assets/fame4good/img/features-ico3.png" />
                        Step 3
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>

                </div>
            </div>
        </div>
    </div>

<%= render 'footer' %>  