<%= render 'header' %> 
	<div class="container">
		<div class="rows">

     	<div class="col-md-4">
			<h2>Payment</h2>
			<p>Information about payment</p>
     		<form role="form">
     			<div class="form-group">
				    <label for="exampleInputEmail1">Card Number</label>
				    <input style="width:80%;" class="form-control" id="exampleInputEmail1" placeholder=".... .... .... ....">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Expires</label>
				    <input style="width:40%;" class="form-control" id="exampleInputEmail1" placeholder="MM/YYYY">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">CVC</label>
				    <input style="width:20%;" class="form-control" id="exampleInputEmail1" placeholder="###">
				  </div>
				  <a style="width:100%;" href="confirmation" class="btn btn-success">PAY</a>
				</form>
     	</div>
		<div class="col-md-4">
				<h2>Campaign Title</h2>
				<p>Information about the campagin</p>

			<img src="/assets/fame4good/img/ortiz.png" class="img-responsive" />
		<h4>Amount Donated: $100</h4>
		<h4>Number of Chances: 20</h4>

     	</div>

		</div>

	</div>
<%= render 'footer' %> 