
<!doctype html>
<html>
<head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<meta charset='utf-8'>
<title>Symmetry Partners</title>
<meta content='inDinero is the fastest growing way for business owners to manage their money. Our real-time dashboard makes small business accounting easy for everyone.' name='description'>
<meta content='indinero, accounting software, small business accounting, enterprise accounting system, full service accounting, tax and payroll software' name='keywords'>

<link href="https://indinero.com/assets/welcome-5072680f8ab161bc5dfa450386672a4b.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//use.typekit.net/ayh5ibt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='https://indinero.com/assets/design/favicon-756acb0575789a3fa90a8f3c4a2dbd80.ico' rel='icon' type='image/x-icon'>
</head>
<body>
<div id='fb-root'></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=118470101643863";
    fjs.parentNode.insertBefore(js, fjs);
  } (document, 'script', 'facebook-jssdk'));
</script>
<div class='header'>
<div class='container-fluid'>
<ul class='nav-bar'>
<li class='block'>
<img alt='Indinero' class='link' data-href='symmetry_partners' style="width:200px; margin-top:-40px;" src='assets/sp/logo.gif'>
</li>
<li class='block'>
<a class='' href='sp-advisor'>
<span>
Advisors

</span>
</a>
</li>
<li class='block'>
<a class='' href='sp-client'>
<span>
Investors

</span>
</a>
</li>

<style type="text/css">

.block a {
	font-size: 10px;
}

.block {
	margin-bottom: 40px;
}

</style>
<li class='smlink'>
<span class='block'>
<a href='/blog'>Blog/Resources</a>
<a href='/about-indinero'>About Symmetry</a>
<a href='/about-indinero'>Menu Item 2</a>
<a href='/about-indinero'>Menu Item 3</a>
<a href='/about-indinero'>Menu Item 4</a>
</span>
</li>
<li class='span2 pull-right'>
<span>
<h4>855-463-4637</h4>
<a class='btn-login button'></a>
<a class='btn-request button' data-toggle='modal' href='#request-box'></a>
</span>
</li>
</ul>
</div>
</div>

<div class='med-banner earlys' id='banner'>
<div class='container-fluid'>
<div class='row-fluid'>
<div class='span7 offset5'>
<h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
<small>- Nick with LikeBright</small>
</h2>
</div>
</div>
</div>
</div>
<a class='wp' id='features'></a>
<div id='sub-nav-bar' style="margin-bottom:40px;">
<div class='container-fluid'>
<div class='row-fluid'>
<ul>
<li class='span4 block' style="width:292px;">
<a href='#first'>
<span>Investment Philosophy</span>
</a>
</li>
<li class='span4 block' style="width:292px;">
<a href='#second'>
<span>Portfolios</span>
</a>
</li>
<li class='span4 block' style="width:292px;">
<a href='#third'>
<span>Back Office Support</span>
</a>
</li>
<li class='span4 block' style="width:292px;">
<a href='#fourth'>
<span>Sales and Marketing</span>
</a>
</li>
</ul>
</div>
</div>
</div>
<div id='main'>
<div class='container-fluid innerp' id='content'>
<div class='row-fluid' id='first'>
<div class='span6 text-right'>
<img alt='' src='https://indinero.com/assets/design/build-87f65cc2ddfce478b8a6207539fdcb91.png'>
</div>
<div class='span6'>
<h3>
Lorem ipsum dolor,<br>ipsum dolor.
</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et condimentum augue. Mauris at turpis mi. Quisque tincidunt est odio, in viverra lectus tincidunt in. Sed laoreet semper arcu, ut tempus augue congue sed. Vivamus sed nunc mollis, pretium erat nec, posuere arcu. Pellentesque vel commodo ligula. Nulla viverra tincidunt orci, at facilisis leo ultrices a. Nam a gravida nulla, nec sodales dui.</p>
</div>
</div>
<div class='spacer'></div>
<div class='row-fluid' id='second'>
<div class='span6'>
<h3>Lorem ipsum dolor ipsum dolor.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et condimentum augue. Mauris at turpis mi. Quisque tincidunt est odio, in viverra lectus tincidunt in. Sed laoreet semper arcu, ut tempus augue congue sed. Vivamus sed nunc mollis, pretium erat nec, posuere arcu. Pellentesque vel commodo ligula. Nulla viverra tincidunt orci, at facilisis leo ultrices a. Nam a gravida nulla, nec sodales dui.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et condimentum augue. Mauris at turpis mi. Quisque tincidunt est odio, in viverra lectus tincidunt in. Sed laoreet semper arcu, ut tempus augue congue sed. Vivamus sed nunc mollis, pretium erat nec, posuere arcu. Pellentesque vel commodo ligula. Nulla viverra tincidunt orci, at facilisis leo ultrices a. Nam a gravida nulla, nec sodales dui.</p>
</div>
<div class='span6 text-left'>
<img alt='' src='https://indinero.com/assets/design/valuecenter-dcb6de186dc29bd860e6f60c0f75ae73.png'>
</div>
</div>
<div class='spacer'></div>
<div class='row-fluid' id='third'>
<div class='span6 text-right'>
<img alt='' src='https://indinero.com/assets/design/earlys-72185def2b434df1facdce3241116d3a.png'>
</div>
<div class='span6'>
<h3>Lorem ipsum dolor ipsum dolor.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et condimentum augue. Mauris at turpis mi. Quisque tincidunt est odio, in viverra lectus tincidunt in. Sed laoreet semper arcu, ut tempus augue congue sed. Vivamus sed nunc mollis, pretium erat nec, posuere arcu. Pellentesque vel commodo ligula. Nulla viverra tincidunt orci, at facilisis leo ultrices a. Nam a gravida nulla, nec sodales dui.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et condimentum augue. Mauris at turpis mi. Quisque tincidunt est odio, in viverra lectus tincidunt in. Sed laoreet semper arcu, ut tempus augue congue sed. Vivamus sed nunc mollis, pretium erat nec, posuere arcu. Pellentesque vel commodo ligula. Nulla viverra tincidunt orci, at facilisis leo ultrices a. Nam a gravida nulla, nec sodales dui.p>
</div>
</div>
</div>
<div class='clearfix'></div>
<a class='wp' id='fourth'></a>
<div class='subsection vsacc'>
<div class='container-fluid'>
<h1 class='subheader'>Symmetry VS Competition</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et condimentum augue. Mauris at turpis mi. Quisque tincidunt est odio, in viverra lectus tincidunt in. Sed laoreet semper arcu, ut tempus augue congue sed. Vivamus sed nunc mollis, pretium erat nec, posuere arcu. Pellentesque vel commodo ligula. Nulla viverra tincidunt orci, at facilisis leo ultrices a. Nam a gravida nulla, nec sodales dui.</p>

<div class='row-fluid'>
<table>
<thead>
<tr>
	<th></th>
<th>Symmetry</th>
<th>Others</th>
</tr>
</thead>
<tbody>
<tr></tr>
<td class='item'>
<img alt="Sd" src="https://indinero.com/assets/design/sd-990bdfd9f7f7bf2f89f2a902d032036c.png" />
Stunning Dashboard
</td>
<td class='ind-row'></td>
<td class='acc-row'></td>
<tr></tr>
<td class='item'>
<img alt="Rf" src="https://indinero.com/assets/design/rf-6b93d27b89e06e7e3e53ca2b3a808328.png" />
Real-Time Financials
</td>
<td class='ind-row'></td>
<td class='acc-row'></td>
<tr></tr>
<td class='item'>
<img alt="Ma" src="https://indinero.com/assets/design/ma-3e7bf0043552b755670909ceb9216fb2.png" />
Mobile Access
</td>
<td class='ind-row'></td>
<td class='acc-row'></td>
<tr></tr>
<td class='item'>
<img alt="Ao" src="https://indinero.com/assets/design/ao-3fef7ec5a7bba02576d3242d5db2d9d6.png" />
All-in-one Solution
</td>
<td class='ind-row'></td>
<td class='acc-row'></td>
<tr></tr>
<td class='item'>
<img alt="Fp" src="https://indinero.com/assets/design/fp-d71322720c9f49cb729cfb702fa05e7b.png" />
Flat Pricing Structure
</td>
<td class='ind-row'></td>
<td class='acc-row'></td>
<tr></tr>
<td class='item'>
<img alt="Fs" src="https://indinero.com/assets/design/fs-f551dbb5597b4eae5514a3ffea38ebd0.png" />
Full Service Payroll
</td>
<td class='ind-row'></td>
<td class='acc-row'></td>
<tr></tr>
<td class='item'>
<img alt="Ac" src="https://indinero.com/assets/design/ac-c8c7a55df8e11a205e62ea8238d85bc9.png" />
Auto Categorization
</td>
<td class='ind-row'></td>
<td class='acc-row'></td>
</tbody>
</table>
</div>
</div>
</div>
<div class='clearfix'></div>
<div class='subsection vsacc footxt'>
<div class='container-fluid'>
<div class='row-fluid'>
<div class='span8'>
<h1 class='subheader'>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et condimentum augue. Mauris at turpis mi. Quisque tincidunt est odio, in viverra lectus tincidunt in. Sed laoreet semper arcu, ut tempus augue congue sed. Vivamus sed nunc mollis, pretium erat nec, posuere arcu. Pellentesque vel commodo ligula. Nulla viverra tincidunt orci, at facilisis leo ultrices a. Nam a gravida nulla, nec sodales dui.</p>
</div>
<div class='span4'>
<a data-toggle='modal' href='#request-box'>
<img alt='' class='reqinv' src='https://indinero.com/assets/design/btn-big-request-0bfcf7fee87a54bb26abfd308ba8baef.png'>
</a>
</div>
</div>
</div>
</div>
<div id='footer'>
<div class='container-fluid'>
<div class='row-fluid'>


</div>
<hr>
<div class='row-fluid'>
<div class='span4 socialm'>
<div class="fb-like" data-href="https://www.facebook.com/pages/inDinerocom/165885526769558" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>(function(d,s,i,r) { if (d.getElementById(i)){return;} var n=d.createElement(s),e=d.getElementsByTagName(s)[0]; n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/208827.js'; e.parentNode.insertBefore(n, e); })(document,"script","hs-analytics",300000); </script>
<script>adroll_adv_id = "7N6MT7XDFBEHJL6CFTILLT"; adroll_pix_id = "LAVFLMCE3BH75NA6ZOKZY6"; (function () { var oldonload = window.onload; window.onload = function(){ __adroll_loaded=true; var scr = document.createElement("script"); var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com"); scr.setAttribute('async', 'true'); scr.type = "text/javascript"; scr.src = host + "/j/roundtrip.js"; ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr); if(oldonload){oldonload()}};}()); </script>
</div>
<div class='span8 text-right'>
<ul class='text-nav lastnav'>
<li>
<a href='/privacy-policy'>Privacy Policy</a>
</li>
<li>
<a href='/terms-of-use'>Terms of Use</a>
</li>
<li>Copyright © 2013 inDinero. All Rights Reserved.</li>
</ul>
</div>
</div>
</div>
</div>
<div class='hide' id='login-box'>
<form accept-charset="UTF-8" action="/login" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="UPCU5bkFdC5v0jO2naRxqumyULl4jVr+8mnDLXLthi4=" /></div><input name='return_to' type='hidden' value='&lt;%= h(params[:return_to]) %&gt;'>
<input name='login_dialog' type='hidden' value='true'>
<div class='row-fluid'>
<label>Email Address</label>
<input class='input-block-level' name='email' tabindex='1' type='text'>
</div>
<div class='row-fluid'>
<label>Password</label>
<div class='pull-right'>
<a href="/forgot_password">Forgot Password?</a>
</div>
<input class='input-block-level' name='password' tabindex='2' type='password'>
</div>
<div class='row-fluid'>
<div class='errtip hide'>Invalid email or password</div>
<div class='connection-error hide'>Connection error</div>
<input alt='Login' src='https://indinero.com/assets/design/btn-login-submit-5928a64c619cc9c41d78f765fa9b89d8.png' type='image'>
</div>
</form></div>
<div aria-hidden='true' aria-labelledby='requestHead' class='modal hide fade' id='request-box' role='dialog' tabindex='-1'>
<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
<div class='modal-header'>
<div class='row-fluid'>
<div class='span9'>
<h3 id='requestHead'>Welcome to inDinero</h3>
Tell us more about who you are, get an invitation sooner.
</div>
</div>
</div>
<div class='form-tabs'>
<div class='active' id='tab1'></div>
<div id='tab2'></div>
</div>
<div class='modal-body'>
<form id='signup-request-form' method='post' novalidate=''>
<div class='carousel slide' id='request-form'>
<div class='carousel-inner'>
<div class='active item'>
<div class='row-fluid'>
<label>Name</label>
<input class='input-block-level' id='inpname' name='signup_request[name]' type='text'>
</div>
<div class='row-fluid'>
<label>Email Address</label>
<input class='input-block-level' id='inpemail' name='signup_request[email]' type='text'>
<div class='error-message hide'>Invalid Email Address</div>
</div>
<div class='row-fluid'>
<label>Company URL</label>
<input class='input-block-level' id='inpcomurl' name='signup_request[company_URL]' placeholder='http://www.mywebsite.com' type='text'>
</div>
<div class='row-fluid'>
<label>Incorporated as</label>
<select class="input-block-level" id="inc_as" name="signup_request[entity_type]"><option value="">- Please Select -</option>
<option value="sole_prop">Sole Prop</option>
<option value="c_corp_or_s_corp">C Corp / S Corp</option>
<option value="llc">LLC</option>
<option value="non_profit">Non-Profit</option></select>
</div>
<div class='row-fluid'>
<label>Phone Number</label>
<input class='input-block-level' id='inpphone' name='signup_request[phone_number]' type='text'>
</div>
<div class='row-fluid'>
<label>How big is your company?</label>
<select class="input-block-level" id="inpnum_employees" name="signup_request[number_of_employees]"><option value="">- Please Select -</option>
<option value="1_2">1-2 People</option>
<option value="3_10">3-10 People</option>
<option value="11_30">11-30 People</option>
<option value="31_100">31-100 People</option></select>
</div>
<div class='clearfix'></div>
</div>
<div class='item'>
<div class='row-fluid'>
<label>What do you do for your accounting/taxes?</label>
<select class="input-block-level" id="inpaccounting" name="signup_request[what_you_do_for_accounting]"><option value="">- Please Select -</option>
<option value="no_existing_solution">We don&#x27;t have an existing solution</option>
<option value="do_bookkeeping_ourselves">We do the bookkeeping ourselves</option>
<option value="in_house_bookkeeper">We have a in-house bookkeeper / accountant</option></select>
</div>
<div class='row-fluid'>
<label>Industry</label>
<select class="input-block-level" id="inpnum_industry" name="signup_request[industry]"><option value="">- Please Select -</option>
<option value="advertising">Advertising/Marketing</option>
<option value="biotechnology">Biotechnology</option>
<option value="consulting">Consulting</option>
<option value="education">Education</option>
<option value="engineering">Engineering</option>
<option value="entertainment">Entertainment</option>
<option value="finance">Finance</option>
<option value="healthcare">Healthcare</option>
<option value="insurance">Insurance</option>
<option value="legal">Legal</option>
<option value="medical">Medical</option>
<option value="non_profit">Non-Profit</option>
<option value="professional_services">Professional Services</option>
<option value="real_estate">Real Estate</option>
<option value="technology">Technology</option>
<option value="telecommunications">Telecommunications</option>
<option value="transportation">Transportation</option>
<option value="other">Other</option></select>
</div>
<div class='row-fluid industryother'>
<input class='input-block-level' id='inpother' name='signup_request[industry_other]' placeholder='Please enter industry' type='text'>
</div>
<div class='row-fluid'>
<label>Approximately, what is your monthly spending?</label>
<select class="input-block-level" id="inprevenue_range" name="signup_request[monthly_spending_range]"><option value="">- Please Select -</option>
<option value="0_5">$0 - $5k</option>
<option value="5_50">5k-50k</option>
<option value="50">50k+</option></select>
</div>
<div class='row-fluid'>
<label>Do you plan to hire in the next three months?</label>
<select class="input-block-level" id="inphire" name="signup_request[planning_to_hire_in_next_three_months]"><option value="">- Please Select -</option>
<option value="yes">Yes</option>
<option value="no">No</option>
<option value="maybe">Maybe</option></select>
</div>
<div class='row-fluid'>
<label>How did you hear about us, and why are you looking into inDinero?</label>
<textarea class='input-block-level' id='inpcomment' name='signup_request[comment]' rows='4'></textarea>
</div>
<div class='row-fluid inus-checkbox'>
<input checked='checked' class='css-cb' id='inus' name='signup_request[is_based_in_US]' type='checkbox'>
<label class='css-lb' for='inus'>My company is based in the U.S. or has a subsidiary in the U.S.</label>
</div>
<div class='clearfix'></div>
</div>
<div class='item'>
<div class='row-fluid'>
<span class='thanks'>Thanks for the information!</span>
<p>Someone from the inDinero team will reach out shortly to see if we are a good fit for your business.</p>
<div class='look-vid'>
<p>
In the meanwhile, take a look at our
<a href="https://player.vimeo.com/video/66291928" id="play-indinero">video</a>
and
<a href="http://blog.indinero.com">blog</a>
to get a better idea of what it'd be like to work with us.
</p>
</div>
</div>
<div class='clearfix'></div>
</div>
</div>
</div>
</form>
</div>
<div class='modal-footer'>
<a class='button' id='request-next'>
<img alt='Next Step' src='https://indinero.com/assets/design/btn-modal-next-step-bc589b5e42a79757856e90eafa57400a.png'>
</a>
<a class='button hide' id='request-submit'>
<img alt='Submit' src='https://indinero.com/assets/design/btn-modal-submit-41664556324600a1438a6bd0763556a6.png'>
</a>
<a class='button hide' id='request-close'>
<img alt='OK' data-dismiss='modal' src='https://indinero.com/assets/design/btn-modal-ok-ca6b93b82a07904b7cd0860b0290277f.png'>
</a>
</div>
<div class='modal-why modal'>
<div class='right-header'>
<div class='row-fluid'>
<span class='title'>Why are we invite only?</span>
<div class='span9'>and what we look for in the business that we work with.</div>
</div>
</div>
<hr>
<div class='customers-are'>
<h4>inDinero Customers are...</h4>
<div class='reasons'>
<img alt='Case' src='https://indinero.com/assets/design/case-59335764227eb07534ec34e90636b150.png'>
Serious about having a business. Not just "thinking about" building a business.
</div>
<div class='reasons'>
<img alt='Chart' src='https://indinero.com/assets/design/chart-0152d5fa5c886909cab099965eddfe78.png'>
Looking to grow a LOT this year. Delegating away the back-office is a priority.
</div>
</div>
</div>
</div>
<div id='btn-top'></div>
<script src="https://indinero.com/assets/welcome-a30621df62b3d2762e10e2e2db68f5ae.js" type="text/javascript"></script>

</div>
<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-5.newrelic.com","937bbf90d9","142443","clYIREpZClVdEx5OVl1aCV1dGQNYSg1IZkBFWAFV",5,165,new Date().getTime(),"","","","",""]);</script></body>
</html>
