<%= render 'layouts/header' %>

<div class="rows">
	<div class="col-sm-10">
		<h2>Manage Account</h2>
		<h3>Contributing Donors</h3>
		<p>The list below represents donors who have been approved as a contributing donors to your portfolio.  These donors do not have access to your Portfolio  and cannot make attributions, but their donations to PPMD will be assigned to your Portfolio at your request and with the contributing donor’s permission. The minimum donation that can be accepted into your account at any one time from a contributing donor is $5000. <a href="faqs.html"> Read more about “Contributing Donors”.</a></p>
</p>
	</div>

</div>

<div class="rows">
	<div class="col-sm-12">
<table class="table table-hover" id="sample-table-1">
										<thead>
											<tr>
												<th>Date Account Approved</th>
												<th>Name of Contributing Donor</th>
												<th>Life time contributions</th>
												<th>Individual Contributions and Dates Credited</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>2/18/2013</td>
												<td>Grandma</td>
												<td>$10,000</td>
												<td>$5,000 on 1/3/2013</td>
											</tr>
											<tr>
												<td>9/18/2013</td>
												<td>Rob Sangster</td>
												<td>$10,000</td>
												<td>$5,000 on 1/3/2013</td>
											</tr>
											<tr>
												<td>9/18/2013</td>
												<td>Uncle Fred</td>
												<td>$10,000</td>
												<td>$5,000 on 1/3/2013</td>
											</tr>
											<tr>
												<td>9/18/2013</td>
												<td>Uncle Fred</td>
												<td>$10,000</td>
												<td>$5,000 on 1/3/2013</td>
											</tr>
										</tbody>
									</table>

	</div>
</div>

<div class="rows" style="margin-top:100px;">
	<div class="col-sm-12">
		<h2>Approve a New Contributing Donor for Portfolio</h2>

										<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Contributing Donor
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Contact Information
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4"><br /><br />
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="col-sm-12" style="margin-left:220px; margin-bottom:100px;">
											<a class="btn btn-blue" href="#">
												Submit</a>
												</label>
										</div>
									</form>

	</div>

</div>

<div class="rows">
	<div class="col-sm-12">
		<h2>Manage Portfolio Password</h2>

										<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Current Password
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Change Password
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4"><br /><br />
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="col-sm-12" style="margin-left:220px; margin-bottom:100px;">
											<a class="btn btn-blue" href="#">
												Submit</a>
												</label>
										</div>

									</form>


	</div>

</div>

<div class="rows">
	<div class="col-sm-12">
		<h2>Manage Portfolio Contact Information</h2>
										<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Primary Portfolio Owner
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Address
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4"><br /><br />
												<input type="text" id="form-field-1" class="col-sm-4"><br /><br />
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Phone (Primary)
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Phone (Primary Alternative)
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Email (Primary)
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Email (secondary)
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="col-sm-4">
											</div>
										</div>
										<div class="col-sm-8" style="margin-left:220px; margin-bottom:100px;">
											<a class="btn btn-blue" href="#">
												Submit</a>
												</label>
										</div>
									</form>


	</div>

</div>




<%= render 'layouts/footer' %>