

<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.0 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>PPMD | Donor Portfolio</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link href="http://www.cliptheme.com/demo/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/fonts/style.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/css/main.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/css/main-responsive.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/iCheck/skins/all.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/css/theme_light.css" id="skin_color">
		<!--[if IE 7]>
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="shortcut icon" href="favicon.ico" />
		<style type="text/css">

		.breadcrumb {
			margin-top: 40px;
		}

		.image img {
			float: left;
			height: 160px;
		}

		.searchresult {
			border: solid 2px #f5f5f5;
			border-radius:10px;
			padding:20px;
			margin: 20px;
		}

		.allocate {
			margin-top: 60px;
		}

		.progress-bar h6 {
			margin-top: 5px;
		}


		.price {
			text-align: center;
		}

		.allocate {
			text-align: center;
		}
		</style>
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: HEADER -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<!-- start: TOP NAVIGATION CONTAINER -->
			<div class="container">
				<div class="navbar-header">
					<!-- start: RESPONSIVE MENU TOGGLER -->
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="clip-list-2"></span>
					</button>
					<!-- end: RESPONSIVE MENU TOGGLER -->
					<!-- start: LOGO -->
					<a class="navbar-brand" href="dashboard.html">
						<img src="assets/logo.jpg">
											</a>
					<!-- end: LOGO -->
				</div>
				<div class="navbar-tools">
					<!-- start: TOP NAVIGATION MENU -->
					<ul class="nav navbar-right">


						
						<!-- start: USER DROPDOWN -->
						<li class="dropdown current-user">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img src="http://www.cliptheme.com/demo/assets/images/avatar-1-small.jpg" class="circle-img" alt="">
								<span class="username">Peter Clark</span>
								<i class="clip-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="pages_user_profile.html">
										<i class="clip-user-2"></i>
										&nbsp;My Profile
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="utility_lock_screen.html"><i class="clip-locked"></i>
										&nbsp;Lock Screen </a>
								</li>
								<li>
									<a href="login_example1.html">
										<i class="clip-exit"></i>
										&nbsp;Log Out
									</a>
								</li>
							</ul>
						</li>
						<!-- end: USER DROPDOWN -->
					</ul>
					<!-- end: TOP NAVIGATION MENU -->
				</div>
			</div>
			<!-- end: TOP NAVIGATION CONTAINER -->
		</div>
		<!-- end: HEADER -->
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<div class="navbar-content">
				<!-- start: SIDEBAR -->
				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
										<!-- start: MAIN NAVIGATION MENU -->
					<ul class="main-navigation-menu">
						<li>
							<a href="admin"><i class="clip-home-3"></i>
								<span class="title"> Dashboard </span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="manageusers"><i class="clip-user-2"></i>
								<span class="title">Manager Users</span>
								<span class="selected"></span>
							</a>
						</li>
					</ul>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR -->
			</div>
			<!-- start: PAGE -->
			<div class="main-content">
				<!-- start: PANEL CONFIGURATION MODAL FORM -->
				<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title">Panel Configuration</h4>
							</div>
							<div class="modal-body">
								Here will be a configuration form
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary">
									Save changes
								</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- end: SPANEL CONFIGURATION MODAL FORM -->
				<div class="container">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-home-3"></i>
									<a href="dashboard">
										Breadcrumbs
									</a>
								</li>
							</ol>
							<div class="page-header">
								<h1>My Donor Portfolio </h1>
								<small>Kim Galberaith</small><br />
								<small>Member ID: 5321</small>
							</div>

							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
					<div class="row">
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-location circle-icon circle-green"></i>
									<h2>Browse Projects</h2>
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</div>
								<a class="view-more" href="ppmdsearch.html">
									View More <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-banknote circle-icon circle-teal"></i>
									<h2>Browse Funds</h2>
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</div>
								<a class="view-more" href="funds.html">
									View More <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-bars circle-icon circle-bricky"></i>
									<h2>View Transaction History</h2>
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</div>
								<a class="view-more" href="history">
									View More <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>

					</div>
<div class="row">
						<div class="col-md-12">
							<!-- start: BASIC TABLE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									Portfolio Overview

								</div>
								<div class="panel-body">
									<table class="table table-hover" id="sample-table-1">
										<thead>
											<tr>
												<th class="center">Unallocated</th>
												<th class="center">Allocated to Active Projects</th>
												<th class="center">Allocated to Completed Projects</th>
												<th class="center">Total Donations</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center">$12,304.00</td>
												<td class="center">$2,304.00</td>
												<td class="center">$304.00</td>
												<td class="center">$16,304.00</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- end: BASIC TABLE PANEL -->
						</div>
</div>
<div class="row">
						<div class="col-md-6">
							<!-- start: BASIC CHART PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									My Allocations

								</div>
<div class="col-sm-12">
											<div class="tabbable">
												<ul id="myTab4" class="nav nav-tabs tab-padding tab-space-3 tab-blue">
													<li class="active">
														<a href="#panel_tab3_example1" data-toggle="tab">
															Total Donations
														</a>
													</li>
													<li>
														<a href="#panel_tab3_example2" data-toggle="tab">
															Category
														</a>
													</li>
													<li>
														<a href="#panel_tab3_example3" data-toggle="tab">
															Status
														</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane in active" id="panel_tab3_example1">
															<img src="assets/image.png" width="100%">
													</div>
													<div class="tab-pane" id="panel_tab3_example2">
				
													</div>
													<div class="tab-pane" id="panel_tab3_example3">
														<img src="assets/image.png" width="100%">
													</div>
												</div>
											</div>
										</div>
				
							
	
							</div>
							<!-- end: BASIC CHART PANEL -->
						</div>
<div class="col-md-6">
							<!-- start: BORDERED TABLE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									My Resarch Projects

								</div>
								<div class="panel-body">
									<table class="table table-bordered table-hover" id="sample-table-4">
										<thead>
											<tr>
												<th>Project</th>
												<th>Category</th>
												<th>Status</th>
												<th>My Allocation</th>
												<th>% Funded</th>
												<th>Last Updated</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="project">Project 1</a></td>
												<td>Category 1</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$1,000</td>
												<td>52%</td>
												<td>Sept 1, 2013</td>
											</tr>
											<tr>
												<td><a href="project">Project 1</a></td>
												<td>Category 2</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$10,230</td>
												<td>25%</td>
												<td>Sept 10, 2013</td>
											</tr>
											<tr>
												<td><a href="project">Project 1</a></td>
												<td>Category 3</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$11,000</td>
												<td>15%</td>
												<td>Sept 11, 2013</td>
											</tr>
											<tr>
												<td><a href="project">Project 1</a></td>
												<td>Category 4</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$10,000</td>
												<td>55%</td>
												<td>Sept 12, 2013</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- end: BORDERED TABLE PANEL -->
						</div>

					</div>


					<div class="row">

<div class="col-md-12">
							<!-- start: TIMELINE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									Investment Updates

								</div>
								<div class="panel-body">
									<div id="timeline" class="demo1">
										<div class="timeline">
											<div class="spine"></div>
											<div class="date_separator">
												<span>NOVEMBER 2013</span>
											</div>
											<ul class="columns">
												<li>
													<div class="timeline_element teal">
														<div class="timeline_title">
															<span class="timeline_label">Gene Therapy for Duchenne</span><span class="timeline_date">03 November 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="project" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element green">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">11 November 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="project" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
											</ul>
											<div class="date_separator">
												<span>DECEMBER 2013</span>
											</div>
											<ul class="columns">
												<li>
													<div class="timeline_element bricky">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">08 December 2013</span>
														</div>
																<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="project" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element purple">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">12 December 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="project" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">16 December 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="project" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element teal">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">18 December 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="project" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- end: TIMELINE PANEL -->

					<!-- end: PAGE CONTENT-->
				</div>
			</div>
			<!-- end: PAGE -->
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<div class="footer clearfix">
			<div class="footer-inner">
				
			</div>
			<div class="footer-items">
				<span class="go-top"><i class="clip-chevron-up"></i></span>
			</div>
		</div>
		<!-- end: FOOTER -->
		<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Event Management</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-light-grey">
							Close
						</button>
						<button type="button" class="btn btn-danger remove-event no-display">
							<i class='icon-trash'></i> Delete Event
						</button>
						<button type='submit' class='btn btn-success save-event'>
							<i class='icon-ok'></i> Save
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="http://www.cliptheme.com/demo/assets/plugins/respond.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/excanvas.min.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/iCheck/jquery.icheck.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
			});
		</script>
	</body>
	<!-- end: BODY -->
</html>