<%= render 'layouts/header' %>
					<div class="row">					
						<div class="col-sm-12">
							<!-- start: TEXT FIELDS PANEL -->
							<div class="panel panel-default">
								<div class="panel-body">
									<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Member to Contact
											</label>
											<div class="col-sm-9">
												<label class="radio-inline">
													<input type="radio" value="" name="optionsRadios" class="grey">
													Site Administrator
												</label>
												<label class="radio-inline">
													<input type="radio" value="" name="optionsRadios" class="grey">
													Research Director
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Subject
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Contact Number
											</label>
											<div class="col-sm-9">
												<input type="text" p id="form-field-1" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Message
											</label>
											<div class="col-sm-9">
												<textarea id="form-field-22" class="form-control" rows="8"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
											
											</label>
											<div class="col-sm-9">
												<label class="radio-inline">
													<input type="checkbox" value="" name="optionsRadios" class="grey">
													Send a copy of this email to me.
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
											</label>
											<div class="col-sm-9">
										<div class="col-sm-8">
										<a class="btn btn-blue" href="#">
											Submit</a>

										<a class="btn btn-red" href="#">
											Cancel</a>
											</label>
											</div>
									</div>
									</form>
								</div>
							</div>
							<!-- end: TEXT FIELDS PANEL -->
						</div>
					</div>
<%= render 'layouts/footer' %>