<%= render 'layouts/header' %>

<script type="text/javascript" language="javascript">
function step2() {
        document.getElementById('step1_container').style.display = 'none';
        document.getElementById('step2_container').style.display = 'block';
}
</script>
					<div class="row">					
						<div class="col-sm-12" id="step1_container">
							<!-- start: TEXT FIELDS PANEL -->
							<div class="panel panel-default"  >
								<div class="panel-body">
									<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Member to Contact
											</label>
											<div class="col-sm-9">
												<label class="radio-inline">
													<input type="radio" value="" name="optionsRadios" class="grey">
													Site Administrator
												</label>
												<label class="radio-inline">
													<input type="radio" value="" name="optionsRadios" class="grey">
													Research Director
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Subject
											</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Contact Number
											</label>
											<div class="col-sm-9">
												<input type="text" p id="form-field-1" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
												Message
											</label>
											<div class="col-sm-9">
												<textarea id="form-field-22" class="form-control" rows="8"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
											
											</label>
											<div class="col-sm-9">
												<label class="radio-inline">
													<input type="checkbox" value="" name="optionsRadios" class="grey">
													Send a copy of this email to me.
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="form-field-1">
											</label>
											<div class="col-sm-9">
										<div class="col-sm-8">
										<input class="btn btn-success" type="button" onclick="javascript:step2();" value="Submit"/>

										<a class="btn btn-red" href="#">
											Cancel</a>
											</label>
											</div>
									</div>
									</form>
								</div>
							</div>
							<!-- end: TEXT FIELDS PANEL -->
						</div>
					</div>

					<div class="row">					
					<div class="alert alert-block alert-success col-sm-8" id="step2_container" style="display:none; margin-left:100px;">
										<button data-dismiss="alert" class="close" type="button">
											×
										</button>
										<h4 class="alert-heading"><i class="icon-ok-sign"></i> Success!</h4>
										<p>
											Your message has been sent to our team. We will be in touch soon!
										</p>
										<p>
											<a href="dashboard.html" class="btn btn-green">
												Go Back to the Dashboard
											</a>

										</p>
									</div>
					</div>

<%= render 'layouts/footer' %>