<%= render 'layouts/header' %>

					<!-- start: PAGE CONTENT -->
					<div class="row">
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-user-4 circle-icon circle-green"></i>
									<h2>View Your Portfolio</h2>
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</div>
								<a class="view-more" href="#">
									View More <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-clip circle-icon circle-teal"></i>
									<h2>Fund Projects</h2>
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</div>
								<a class="view-more" href="#">
									View More <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-database circle-icon circle-bricky"></i>
									<h2>View Projects</h2>
								</div>
								<div class="content">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
								</div>
								<a class="view-more" href="ppmdsearch">
									View More <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>

					</div>
<div class="row">
						<div class="col-md-12">
							<!-- start: BASIC TABLE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									Portfolio Overview

								</div>
								<div class="panel-body">
									<table class="table table-hover" id="sample-table-1">
										<thead>
											<tr>
												<th class="center">Unallocated</th>
												<th class="center">Allocated to Active Projects</th>
												<th class="center">Allocated to Completed Projects</th>
												<th class="center">Total Donations</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center">$12,304.00</td>
												<td class="center">$2,304.00</td>
												<td class="center">$304.00</td>
												<td class="center">$16,304.00</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- end: BASIC TABLE PANEL -->
						</div>
</div>
<div class="row">
						<div class="col-md-6">
							<!-- start: BASIC CHART PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									My Allocations

								</div>
<div class="col-sm-12">
											<div class="tabbable">
												<ul id="myTab4" class="nav nav-tabs tab-padding tab-space-3 tab-blue">
													<li class="active">
														<a href="#panel_tab3_example1" data-toggle="tab">
															Total Donations
														</a>
													</li>
													<li>
														<a href="#panel_tab3_example2" data-toggle="tab">
															Category
														</a>
													</li>
													<li>
														<a href="#panel_tab3_example3" data-toggle="tab">
															Status
														</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane in active" id="panel_tab3_example1">
															<img src="assets/image.png" width="100%">
													</div>
													<div class="tab-pane" id="panel_tab3_example2">
				
													</div>
													<div class="tab-pane" id="panel_tab3_example3">
														<img src="assets/image.png" width="100%">
													</div>
												</div>
											</div>
										</div>
				
							
	
							</div>
							<!-- end: BASIC CHART PANEL -->
						</div>
<div class="col-md-6">
							<!-- start: BORDERED TABLE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									My Resarch Projects

								</div>
								<div class="panel-body">
									<table class="table table-bordered table-hover" id="sample-table-4">
										<thead>
											<tr>
												<th>Project</th>
												<th>Category</th>
												<th>Status</th>
												<th>My Allocation</th>
												<th>% Funded</th>
												<th>Last Updated</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">Project 1</a></td>
												<td>Category 1</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$1,000</td>
												<td>52%</td>
												<td>Sept 1, 2013</td>
											</tr>
											<tr>
												<td><a href="#">Project 1</a></td>
												<td>Category 2</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$10,230</td>
												<td>25%</td>
												<td>Sept 10, 2013</td>
											</tr>
											<tr>
												<td><a href="#">Project 1</a></td>
												<td>Category 3</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$11,000</td>
												<td>15%</td>
												<td>Sept 11, 2013</td>
											</tr>
											<tr>
												<td><a href="#">Project 1</a></td>
												<td>Category 4</td>
												<td class="hidden-xs"><span class="label label-sm label-success">Active</span></td>
												<td>$10,000</td>
												<td>55%</td>
												<td>Sept 12, 2013</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- end: BORDERED TABLE PANEL -->
						</div>

					</div>


					<div class="row">

<div class="col-md-12">
							<!-- start: TIMELINE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="icon-external-link-sign"></i>
									Investment Updates

								</div>
								<div class="panel-body">
									<div id="timeline" class="demo1">
										<div class="timeline">
											<div class="spine"></div>
											<div class="date_separator">
												<span>NOVEMBER 2013</span>
											</div>
											<ul class="columns">
												<li>
													<div class="timeline_element teal">
														<div class="timeline_title">
															<span class="timeline_label">Gene Therapy for Duchenne</span><span class="timeline_date">03 November 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="#" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element green">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">11 November 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="#" class="btn btn-bricky">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
											</ul>
											<div class="date_separator">
												<span>DECEMBER 2013</span>
											</div>
											<ul class="columns">
												<li>
													<div class="timeline_element bricky">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">08 December 2013</span>
														</div>
																<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="#" class="btn btn-warning">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element purple">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">12 December 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="#" class="btn btn-dark-grey">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">16 December 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="#" class="btn btn-info">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
												<li>
													<div class="timeline_element teal">
														<div class="timeline_title">
															<span class="timeline_label">Another New Project</span><span class="timeline_date">18 December 2013</span>
														</div>
														<div class="content">
															<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
														</div>
														<div class="readmore">
															<a href="#" class="btn btn-dark-beige">
																Read More <i class="icon-circle-arrow-right"></i>
															</a>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- end: TIMELINE PANEL -->
						</div>
						<!--<div class="col-sm-5">

							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<i class="clip-bars"></i>
											Pageviews real-time
											<div class="panel-tools">
												<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
												</a>
												<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
													<i class="icon-wrench"></i>
												</a>
												<a class="btn btn-xs btn-link panel-refresh" href="#">
													<i class="icon-refresh"></i>
												</a>
												<a class="btn btn-xs btn-link panel-close" href="#">
													<i class="icon-remove"></i>
												</a>
											</div>
										</div>
										<div class="panel-body">
											<div class="flot-mini-container">
												<div id="placeholder-h3" class="flot-placeholder"></div>
											</div>
										</div>
									</div>
								</div>
							<!--</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<div class="row space12">
								<ul class="mini-stats col-sm-12">
									<li class="col-sm-4">
										<div class="sparkline_bar_good">
											<span>3,5,9,8,13,11,14</span>+10%
										</div>
										<div class="values">
											<strong>18304</strong>
											Visits
										</div>
									</li>
									<li class="col-sm-4">
										<div class="sparkline_bar_neutral">
											<span>20,15,18,14,10,12,15,20</span>0%
										</div>
										<div class="values">
											<strong>3833</strong>
											Unique Visitors
										</div>
									</li>
									<li class="col-sm-4">
										<div class="sparkline_bar_bad">
											<span>4,6,10,8,12,21,11</span>+50%
										</div>
										<div class="values">
											<strong>18304</strong>
											Pageviews
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="row space12">
								<div class="col-sm-6">
									<div class="easy-pie-chart">
										<span class="bounce number" data-percent="44"> <span class="percent">44</span> </span>
										<div class="label-chart">
											Bounce Rate
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="easy-pie-chart">
										<span class="cpu number" data-percent="82"> <span class="percent">82</span> </span>
										<div class="label-chart">
											New Visits
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-users-2"></i>
									Users
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="icon-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="icon-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="icon-remove"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll" style="height:300px">
									<table class="table table-striped table-hover" id="sample-table-1">
										<thead>
											<tr>
												<th class="center">Photo</th>
												<th>Full Name</th>
												<th class="hidden-xs">Email</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center"><img src="http://www.cliptheme.com/demo/assets/images/avatar-1.jpg" alt="image"/></td>
												<td>Peter Clark</td>
												<td class="hidden-xs">
												<a href="#" rel="nofollow" target="_blank">
													peter@example.com
												</a></td>
												<td class="center">
												<div>
													<div class="btn-group">
														<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
															<i class="icon-cog"></i> <span class="caret"></span>
														</a>
														<ul role="menu" class="dropdown-menu pull-right">
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-edit"></i> Edit
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-share"></i> Share
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-remove"></i> Remove
																</a>
															</li>
														</ul>
													</div>
												</div></td>
											</tr>
											<tr>
												<td class="center"><img src="http://www.cliptheme.com/demo/assets/images/avatar-2.jpg" alt="image"/></td>
												<td>Nicole Bell</td>
												<td class="hidden-xs">
												<a href="#" rel="nofollow" target="_blank">
													nicole@example.com
												</a></td>
												<td class="center">
												<div>
													<div class="btn-group">
														<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
															<i class="icon-cog"></i> <span class="caret"></span>
														</a>
														<ul role="menu" class="dropdown-menu pull-right">
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-edit"></i> Edit
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-share"></i> Share
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-remove"></i> Remove
																</a>
															</li>
														</ul>
													</div>
												</div></td>
											</tr>
											<tr>
												<td class="center"><img src="http://www.cliptheme.com/demo/assets/images/avatar-3.jpg" alt="image"/></td>
												<td>Steven Thompson</td>
												<td class="hidden-xs">
												<a href="#" rel="nofollow" target="_blank">
													steven@example.com
												</a></td>
												<td class="center">
												<div>
													<div class="btn-group">
														<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
															<i class="icon-cog"></i> <span class="caret"></span>
														</a>
														<ul role="menu" class="dropdown-menu pull-right">
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-edit"></i> Edit
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-share"></i> Share
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-remove"></i> Remove
																</a>
															</li>
														</ul>
													</div>
												</div></td>
											</tr>
											<tr>
												<td class="center"><img src="http://www.cliptheme.com/demo/assets/images/avatar-5.jpg" alt="image"/></td>
												<td>Kenneth Ross</td>
												<td class="hidden-xs">
												<a href="#" rel="nofollow" target="_blank">
													kenneth@example.com
												</a></td>
												<td class="center">
												<div>
													<div class="btn-group">
														<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
															<i class="icon-cog"></i> <span class="caret"></span>
														</a>
														<ul role="menu" class="dropdown-menu pull-right">
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-edit"></i> Edit
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-share"></i> Share
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-remove"></i> Remove
																</a>
															</li>
														</ul>
													</div>
												</div></td>
											</tr>
											<tr>
												<td class="center"><img src="http://www.cliptheme.com/demo/assets/images/avatar-4.jpg" alt="image"/></td>
												<td>Ella Patterson</td>
												<td class="hidden-xs">
												<a href="#" rel="nofollow" target="_blank">
													ella@example.com
												</a></td>
												<td class="center">
												<div>
													<div class="btn-group">
														<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
															<i class="icon-cog"></i> <span class="caret"></span>
														</a>
														<ul role="menu" class="dropdown-menu pull-right">
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-edit"></i> Edit
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-share"></i> Share
																</a>
															</li>
															<li role="presentation">
																<a role="menuitem" tabindex="-1" href="#">
																	<i class="icon-remove"></i> Remove
																</a>
															</li>
														</ul>
													</div>
												</div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-checkbox"></i>
									To Do
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="icon-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="icon-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="icon-remove"></i>
										</a>
									</div>
								</div>
								<div class="panel-body panel-scroll" style="height:300px">
									<ul class="todo">
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
												<span class="label label-danger" style="opacity: 1;"> today</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
												<span class="label label-danger" style="opacity: 1;"> today</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc"> Hire developers</span>
												<span class="label label-warning"> tommorow</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc">Staff Meeting</span>
												<span class="label label-warning"> tommorow</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc"> New frontend layout</span>
												<span class="label label-success"> this week</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc"> Hire developers</span>
												<span class="label label-success"> this week</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc"> New frontend layout</span>
												<span class="label label-info"> this month</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc"> Hire developers</span>
												<span class="label label-info"> this month</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
												<span class="label label-danger" style="opacity: 1;"> today</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
												<span class="label label-danger" style="opacity: 1;"> today</span>
											</a>
										</li>
										<li>
											<a class="todo-actions" href="javascript:void(0)">
												<i class="icon-check-empty"></i>
												<span class="desc"> Hire developers</span>
												<span class="label label-warning"> tommorow</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-calendar"></i>
									Calendar
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="icon-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="icon-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-expand" href="#">
											<i class="icon-resize-full"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="icon-remove"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<div id='calendar'></div>
								</div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<i class="clip-bubble-4"></i>
											Chats
											<div class="panel-tools">
												<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
												</a>
												<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
													<i class="icon-wrench"></i>
												</a>
												<a class="btn btn-xs btn-link panel-refresh" href="#">
													<i class="icon-refresh"></i>
												</a>
												<a class="btn btn-xs btn-link panel-expand" href="#">
													<i class="icon-resize-full"></i>
												</a>
												<a class="btn btn-xs btn-link panel-close" href="#">
													<i class="icon-remove"></i>
												</a>
											</div>
										</div>
										<div class="panel-body panel-scroll" style="height:460px">
											<ol class="discussion">
												<li class="other">
													<div class="avatar">
														<img alt="" src="http://www.cliptheme.com/demo/assets/images/avatar-4.jpg">
													</div>
													<div class="messages">
														<p>
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
														</p>
														<span class="time"> Timothy • 51 min </span>
													</div>
												</li>
												<li class="self">
													<div class="avatar">
														<img alt="" src="http://www.cliptheme.com/demo/assets/images/avatar-1.jpg">
													</div>
													<div class="messages">
														<p>
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
														</p>
														<span class="time"> 37 mins </span>
													</div>
												</li>
												<li class="other">
													<div class="avatar">
														<img alt="" src="http://www.cliptheme.com/demo/assets/images/avatar-3.jpg">
													</div>
													<div class="messages">
														<p>
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
														</p>
													</div>
												</li>
												<li class="self">
													<div class="avatar">
														<img alt="" src="http://www.cliptheme.com/demo/assets/images/avatar-1.jpg">
													</div>
													<div class="messages">
														<p>
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
														</p>
													</div>
												</li>
												<li class="other">
													<div class="avatar">
														<img alt="" src="http://www.cliptheme.com/demo/assets/images/avatar-4.jpg">
													</div>
													<div class="messages">
														<p>
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
														</p>
													</div>
												</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="chat-form">
										<div class="input-group">
											<input type="text" class="form-control input-mask-date" placeholder="Type a message here...">
											<span class="input-group-btn">
												<button class="btn btn-teal" type="button">
													<i class="icon-ok"></i>
												</button> </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- end: PAGE CONTENT-->
				</div>
			</div>
			<!-- end: PAGE -->
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<div class="footer clearfix">
			<div class="footer-inner">

			</div>
			<div class="footer-items">
				<span class="go-top"><i class="clip-chevron-up"></i></span>
			</div>
		</div>
		<!-- end: FOOTER -->
		<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Event Management</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-light-grey">
							Close
						</button>
						<button type="button" class="btn btn-danger remove-event no-display">
							<i class='icon-trash'></i> Delete Event
						</button>
						<button type='submit' class='btn btn-success save-event'>
							<i class='icon-ok'></i> Save
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="http://www.cliptheme.com/demo/assets/plugins/respond.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/excanvas.min.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/iCheck/jquery.icheck.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="http://www.cliptheme.com/demo/assets/plugins/flot/jquery.flot.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/flot/jquery.flot.pie.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/flot/jquery.flot.resize.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
		<script src="http://www.cliptheme.com/demo/assets/js/index.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Index.init();
			});
		</script>
	</body>
	<!-- end: BODY -->
</html>