<%= render 'layouts/header' %>
<div class="row">
						<div class="col-sm-12">
							<!-- start: ACCORDION PANEL -->
							<div class="panel panel-default">
								
								<h4 style="margin-left:20px;">Frequently Asked Questions</h4>

									
								<div class="panel-body">
									<div class="panel-group accordion-custom accordion-teal" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
													<i class="icon-arrow"></i>
													What is My Donor Portfolio™?
												</a></h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
												<div class="panel-body">
													My Donor Portfolio™ (MDP) is an online tool developed by PPMD to help you better visualize and manage your research donations to the organization.  You can browse projects that need funding, allocate your donation to projects of your choice, and follow the progress of those projects.  The program also allows you to name “contributing donors” whose donations to PPMD will be added to your MDP account.  The MDP summary page will allow you to see and track all of your allocations at once, in the same way that you may be used to seeing your 401K information summarized.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
													<i class="icon-arrow"></i>
													2.  What is required to set up an account?2
												</a></h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
												<div class="panel-body">
													A minimum donation to PPMD of $10,000 is required to open an MDP account.  After the account is open, new donation deposits in the amount of $5000 or more can be added to the account at any time.  To  open an account simply……..
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
													<i class="icon-arrow"></i>
													3.  How do I let PPMD know that an incoming check should be deposited into my MDP account?
												</a></h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse">
												<div class="panel-body">
													After your MDP account is established, you will receive an account number.  Be sure that any donations in the amount of $5000 or more that you send to PPMD for you MDP account has the MDP account number in the “For” line.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
													<i class="icon-arrow"></i>
													4. Does PPMD maintain a separate fiscal account for each of its MDP donors?
												</a></h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse">
												<div class="panel-body">
													No, we don’t.  Your donation will be credited to your MDP account and tracked there but will be deposited to PPMD’s general funds.  The MDP system allows you to select and designate the research projects in which you are most interested, but these are projects to which the organization has already committed funding so they are part of our general funding budget.  Each project does have an individual budget and when the project has been “fully funded” via MDP allocations, we will close it out and indicate that the project is fully funded.  For example, if a single donor funds a whole project for $100,000 then we would mark that project as “fully funded” and not allow any other donors to allocate funds to it.  As projects become fully funded by MDP donors, PPMD general funds are freed up to invest in new research.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
													<i class="icon-arrow"></i>
													5.  What kind of projects are available for MDP allocations?
												</a></h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse">
												<div class="panel-body">
													We will make available a selection of research projects that have been reviewed by PPMD’s Scientific Advisory Committee or at least two ad hoc scientific advisors, and which have been approved for funding by PPMD’s Board of Directors.  For a research project to be posted on MDP we must have a signed Award Letter in hand from the grantee.  Right now we are offering a series of high profile research projects that will require significant funding to complete.  As time goes on, we hope to gradually transition all of our research projects, including meeting grants, to MDP and we will eventually add projects related to care and advocacy as well.  We firmly believe in the inter-related nature of care, advocacy and therapy development and we want to give you the opportunity to balance your donor portfolio among these categories as you see fit.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
													<i class="icon-arrow"></i>
													6.  Can I make an allocation to all the projects in a single therapeutic category?
												</a></h4>
											</div>
											<div id="collapseSix" class="panel-collapse collapse">
												<div class="panel-body">
													Yes.  If you are interested in a specific category of research and would like to fund all the projects in that category you may select the category and then choose “allocate across multiple projects in a single category.”  This action will divide your allocation equally across all the open projects in that category and each individual project will show up on your MDP summary page.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
													<i class="icon-arrow"></i>
													7.  Can I make multiple allocations from a single deposit to my MDP account?  
												</a></h4>
											</div>
											<div id="collapseSeven" class="panel-collapse collapse">
												<div class="panel-body">
													Yes.  You can allocate to individual projects or to whole categories of projects at once or any combination of the above until all the dollars are allocated.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
													<i class="icon-arrow"></i>
													7.  Do I have to allocate all of an MDP deposit at once?  
												</a></h4>
											</div>
											<div id="collapseEight" class="panel-collapse collapse">
												<div class="panel-body">
													8.  I would really like to contribute some funding to Dr. X’s work.  Can I open an MDP account and then have PPMD fund Dr. X so that I can allocate my funds to him/her?
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
													<i class="icon-arrow"></i>
													7.  Do I have to allocate all of an MDP deposit at once?  
												</a></h4>
											</div>
											<div id="collapseNine" class="panel-collapse collapse">
												<div class="panel-body">
													If Dr. X has an approved research grant funded by PPMD that has been reviewed by our scientific advisors and approved by our Board of Directors, then you may allocate your funds to Dr. X by selecting that project from the MDP Active Projects list.  We cannot allow donors to “pass through” funds to a designee of their choice – the IRS does not allow this and we feel strongly that research projects supported by PPMD benefit from rigorous peer review.
												</div>
											</div>
										</div>
									</div>
								</div>
							
							<!-- end: ACCORDION PANEL -->
						</div>
					</div>
<%= render 'layouts/footer' %>