<%= render 'layouts/header' %>
<div class="row">
						<div class="col-md-12">
							<!-- start: BASIC TABLE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									
									Portfolio Overview

								</div>
								<div class="panel-body">
									<table class="table table-hover" id="sample-table-1">
										<thead>
											<tr>
												<th class="center">Unallocated</th>
												<th class="center">Allocated to Active Projects</th>
												<th class="center">Allocated to Completed Projects</th>
												<th class="center">Total Donations</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center">$12,304.00</td>
												<td class="center">$2,304.00</td>
												<td class="center">$304.00</td>
												<td class="center">$16,304.00</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- end: BASIC TABLE PANEL -->
						</div>
</div>

<div class="row">
	<div class="col-md-12">
<h4>Portfolio Transactions by Year</h4>
<p>The list below shows deposits into your My Donor Portfolio by source and allocations to projects or funds
</p>
	</div>

</div>

<div class="row">
						<div class="col-md-12">
							<!-- start: BASIC TABLE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									
									Basic table

								</div>
								<div class="panel-body">
									<table class="table table-hover" id="sample-table-1">
										<thead>
											<tr>
												<th>Date</th>
												<th>Transaction Type</th>
												<th>Source or Allocation</th>
												<th>Amount</th>
												<th>Balance</th>
												<th>Tax Receipt</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>12/18/13</td>
												<td>Deposit</td>
												<td>Personal</td>
												<td>$10,000</td>
												<td>$10,000</td>
												<td>

												</td>
											</tr>
											<tr>
												<td>12/23/13</td>
												<td>Allocation</td>
												<td><a href="project.html">Medical Resarch Project</a></td>
												<td>$4,000</td>
												<td>$6,000</td>
												<td>
												<div class="visible-md visible-lg hidden-sm hidden-xs">
													<a href="#" class="btn btn-teal tooltips" data-placement="top" data-original-title="Download"><i class="clip-folder-download"></i></a>
												</div>
												</td>
											</tr>
											<tr>
												<td>12/25/13</td>
												<td>Allocation</td>
												<td><a href="project.html">Meidcal Research Project</a></td>
												<td>$2,000</td>
												<td>$4,000</td>
												<td>
												<div class="visible-md visible-lg hidden-sm hidden-xs">
													<a href="#" class="btn btn-teal tooltips" data-placement="top" data-original-title="Download"><i class="clip-folder-download"></i></a>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- end: BASIC TABLE PANEL -->
						</div>
					</div>
<%= render 'layouts/footer' %>