<%= render 'layouts/header' %>

<div class="row">

<!-- start: Search Result -->
<div class="col-md-8 searchresult">
		<div class="col-md-3 image">
			<img src="assets/ppmdpic.png">
		</div>

		<div class="col-md-6">
			<h5>Development of Novel Upper Extremity Outcome Measure in Duchenne Muscular Dystrophy .  </h5>
			<p>In this proposal, we focus on meeting the critical need in the Duchenne muscular dystrophy (DMD) research field to develop a quantitative, robust, yet low-cost method for evaluating upper extremity function.
</p>
		</div>

		<div class="col-md-3 price">
			<h4>$18,000</h4>
			<h5>$12,000 / $6,000</h5>
			<h4><div class="progress">

										<div class="progress-bar progress-bar-success" style="width: 65%">
											<span class="sr-only"> 65% Complete (success)</span>
										</div>
										<div class="progress-bar progress-bar-danger" style="width: 35%">
											<span class="sr-only"> 65% Complete (success)</span>
										</div>

									</div></h4>
			<small>"Endpoint Development"</small>

		<div class="allocate">
			<a href="#" class="btn btn-success">Allocate</a>
		</div>

		</div>
</div>
<!-- end: Search Result -->
</div>


<%= render 'layouts/footer' %>