<%= render 'layouts/header' %>

<div class="row">
	<div style="margin-left:40px;" class="alert alert-danger col-md-2">
		CONFIDENTIAL.
	</div>
<!-- start: Search Result -->
<div class="col-md-10 searchresult">
		<div class="col-md-3 image">
			<img src="assets/ppmdpic.png">
		</div>

		<div class="col-md-6">
			<h5>Development of Novel Upper Extremity Outcome Measure in Duchenne Muscular Dystrophy .  </h5>
			<p>In this proposal, we focus on meeting the critical need in the Duchenne muscular dystrophy (DMD) research field to develop a quantitative, robust, yet low-cost method for evaluating upper extremity function.
</p>
		</div>

		<div class="col-md-3 price" style="margin-bottom:20px;">


			

		<div class="allocate">
			<a href="allocation" class="btn btn-success btn-lg" style="margin-top:40px;">Allocate</a><br /><small>"Endpoint Development"</small>
		</div>
		
</div>
		<!-- Start Details -->

<div class="col-md-11">


<h2 style="text-align:center;">$20,000</h2>
<div style="margin-left:40px;" class="progress progress-striped active">

											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%"><h5 style="margin-top:-.1px">$15,000</h5>
											<span class="sr-only"> 80% Complete (danger)</span>
										</div>
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 35%"><h5 style="margin-top:-.1px">$5,000</h5>
											<span class="sr-only"> 80% Complete (danger)</span>
										</div>
									</div>
</div>


<table class="table">
	<tbody>
		<tr>
			<td>Principle Investigator</td>
			<td>Jerry Mendell</td>
		</tr>
		<tr>
			<td>Institution / Company</td>
			<td>Nationwide Children’s Research Institute</td>
		</tr>
		<tr>
			<td>Start Date</td>
			<td>June 1, 2011</td>
		</tr>
		<tr>
			<td>Stop Date</td>
			<td>May 31, 2014</td>
		</tr>
		<tr>
			<td>Type of Therapy</td>
			<td>Muscle Growth</td>
		</tr>
		<tr>
			<td>Major Funders</td>
			<td>Anonymous Donor - $300,000</td>
		</tr>
		<tr>
			<td>Abstract</td>
			<td>Viral-mediated gene transfer of the follistatin gene to increase muscle strength emerges 
as a sound therapeutic strategy based on our published, peer reviewed, proof of 
principle studies (to be reviewed in this proposal and reprints attached)1,2 in mouse and 
non-human primate. The quadriceps muscle emerges as the target site for this approach 
because of need and clinical practicality. These important concepts further merge into 
a therapeutic plan for two diseases with debilitating quadriceps muscle weakness that 
will lead to clinically meaningful benefit by increasing the strength of the knee extensor 
muscles. Aim 1. Prepare rAAV1.CMV.follistatin344 vector for clinical trial to improve 
quadriceps muscle strength in sporadic inclusion body myositis patients. Aim 2. Conduct 
a 6 month clinical trial of intramuscular rAAV1.CMV.follistatin344 to quadriceps muscles in 
sporadic IBM and Becker muscular dystrophy patients.</td>
		</tr>
		<tr>
			<td>Background</td>
			<td>The idea behind this project is to use gene therapy to stimulate muscle growth and 
strength increases in particular muscles that could provide a functional benefit to the 
participant. For this reason, people with Becker muscular dystrophy and inclusion body 
</td>
		</tr>
		<tr>
			<td>Review</td>
			<td>This project was actually reviewed originally by the MDA and the reviews supplied to us 
by Dr. Mendell. The MDA reviewers scored the project extremely high and in what would 
normally be the fundable range for the Association. My understanding is that MDA 
chose not to fund the project because of a significant investment they had ongoing in 
a LGMD gene therapy trial with Mendell as the PI. The reviewers felt that the strategy 
was sound, the preliminary data was very supportive and the investigator had extensive 
experience in gene therapy trials. Numerous concerns about technical details were 
also raised by the reviewers, despite the high scores. As a consequence we asked Dr. 
Mendell to address the reviewer concerns in detail and in writing, which he did, and this 
response was reviewed and approved by PPMD’s Scientific Advisory Committee Chair, 
Lee Sweeney</td>
		</tr>
		<tr>
			<td>Milestone Driven?</td>
			<td>Yes (see payment schedule)</td>
		</tr>
		<tr>
			<td>Payment Schedule</td>
			<td>

<h5>Start-up payment — 07/01/2010 $150,000 </h5>
<ol>
<li>Manufacture of vector of sufficient quantity and $65,050 </li>
 quality to complete the clinical study — Complete </li>
<li>IND approval — Complete) $48,118.75</li>
<li>Inject first IBM patient — Complete $48,118.75</li>
<li>Complete low dose sIBM participants — Complete $48,118.75</li>
<li>Complete low dose BMD participants — Complete $48,118.75</li>
<li>Low dose data is reviewed with oversight committee $48,118.75 </li>
 and is found not to prevent the high dose study — Complete </li>
<li>Complete high dose BMD participants $48,118.75</li>
<li>Complete high dose sIBM participants $48,118.75</li>
<li>Report results to oversight committee $48,118.75</li>
</ol>



			</td>
		</tr>
		<tr>
			<td>Notes</td>
			<td>Funding is still sought for this project, including an additional $100,000 in supplementary 
funds to make up budget shortfalls; In the meantime, the FDA and the Institutional 
Review Board have given Dr. Mendell permission to use a higher does in the next 
group of BMD patients than originally included in the protocol. The PPMD Steering 
Committee/Data Safety Monitoring Board has approved this change.</td>
		</tr>
		<tr>
			<td>Updates</td>
			<td>The PPMD Steering Committee morphed into a Data Safety Monitoring Board (DSMB) 
when this project moved from preclinical to clinical. The DSMB meets regularly to review 
project safety and also approves the PPMD project milestones. So far the committee has 
met five times and all discussion and recommendations are documented in detail in the 
CONFIDENTIAL</td>
		</tr>

	</tbody>
</table>

<!-- End Details -->
</div>

<!-- end: Search Result -->
</div>


<%= render 'layouts/footer' %>