<%= render 'layouts/header' %>

<div class="row">
	<div style="margin-left:40px;" class="alert alert-danger col-md-5">
		Please note that all of the information on this page is CONFIDENTIAL.
	</div>
<!-- start: Search Result -->
<div class="col-md-8 searchresult">
		<div class="col-md-3 image">
			<img src="assets/ppmdpic.png">
		</div>

		<div class="col-md-6">
			<h5>Development of Novel Upper Extremity Outcome Measure in Duchenne Muscular Dystrophy .  </h5>
			<p>In this proposal, we focus on meeting the critical need in the Duchenne muscular dystrophy (DMD) research field to develop a quantitative, robust, yet low-cost method for evaluating upper extremity function.
</p>
		</div>

		<div class="col-md-3 price" style="margin-bottom:20px;">
			<h4>$18,000</h4>
			<h5>$12,000 / $6,000</h5>
			<h4><div class="progress">

										<div class="progress-bar progress-bar-success" style="width: 65%">
											<span class="sr-only"> 65% Complete (success)</span>
										</div>
										<div class="progress-bar progress-bar-danger" style="width: 35%">
											<span class="sr-only"> 65% Complete (success)</span>
										</div>

									</div></h4>
			<small>"Endpoint Development"</small>

		<div class="allocate">
			<a href="allocation" class="btn btn-success">Allocate</a>
		</div>
</div>
		<!-- Start Details -->

<table class="table table-striped table-bordered table-hover">
	<tbody>
		<tr>
			<td>Principle Investigator</td>
			<td></td>
		</tr>
		<tr>
			<td>Institution / Company</td>
			<td></td>
		</tr>
		<tr>
			<td>Start Date</td>
			<td></td>
		</tr>
		<tr>
			<td>Stop Date</td>
			<td></td>
		</tr>
		<tr>
			<td>Type of Therapy</td>
			<td></td>
		</tr>
		<tr>
			<td>Major Funders</td>
			<td></td>
		</tr>
		<tr>
			<td>Abstract</td>
			<td></td>
		</tr>
		<tr>
			<td>Background</td>
			<td></td>
		</tr>
		<tr>
			<td>Review</td>
			<td></td>
		</tr>
		<tr>
			<td>Milestone Driven?</td>
			<td></td>
		</tr>
		<tr>
			<td>Payment Schedule</td>
			<td></td>
		</tr>
		<tr>
			<td>Notes</td>
			<td></td>
		</tr>
		<tr>
			<td>Updates</td>
			<td></td>
		</tr>

	</tbody>
</table>

<!-- End Details -->
</div>

<!-- end: Search Result -->
</div>


<%= render 'layouts/footer' %>