
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Knight Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>

  
  <!-- Stylesheets -->
  <link href="http://responsivewebinc.com/premium/metro/blue/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/font-awesome.css">
  <link href="http://responsivewebinc.com/premium/metro/blue/style/prettyPhoto.css" rel="stylesheet">
  <!-- Parallax slider -->
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/slider.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/flexslider.css">

  <link href="http://responsivewebinc.com/premium/metro/blue/style/style.css" rel="stylesheet">

  <!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
  <link href="http://responsivewebinc.com/premium/metro/blue/style/blue.css" rel="stylesheet">

  
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="http://responsivewebinc.com/premium/metro/blue/js/html5shim.js"></script>
  <![endif]-->

  
</head>

<body>
<style type="text/css">


header {
    background: #1570a6;
}

</style>
<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="logo">
          <a href="knightpoint"><img src="assets/knightpoint/logo.png"></a>
        </div>
      </div>

    </div>
  </div>
</header>

<!-- Navigation bar starts -->

            <div class="navbar bs-docs-nav" role="banner">
              <div class="container">
               <div class="navbar-header">
                 <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
               </div>
               
                  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                         <ul class="dropdown-menu">
                            <li><a href="#">Leadership Team</a></li>
                            <li><a href="#">Values/Mission Statement</a></li>
                            <li><a href="#">Philanthropy</a></li>
                            <li><a href="#">Awards/Certifications</a></li>
                            <li><a href="#">Ethics</a></li>
                        </ul>
                      </li> 
                      <li><a href="index1.html">Sectors</a></li>
                      <li><a href="index1.html">Expertise</a></li>
                      <li><a href="index1.html">Contracts</a></li>
                      <li><a href="index1.html">Media Center</a></li>
                      <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Careers <b class="caret"></b></a>
                         <ul class="dropdown-menu">
      <li><a href="#">Culture</a></li>
      <li><a href="#">Benefits</a></li>
      <li><a href="#">Join Our Team</a></li>
      <li><a href="#">Current Openings</a></li>
                        </ul>
                      </li> 
                    </ul>
                  </nav>
                 </div>
              </div>

<!-- Navigation bar ends -->

<style type="text/css">

.hero-image img {
width: 500px;
margin-top: -18px;
}

.text p {
  font-size: 12px;
line-height: 18px;
padding: 16px;
}

.left-menu a {
  font-size: 12px;
}

}

</style>

<div class="content">
  <div class="container">

<div class="row">

  <div class="col-md-2">
    <div class="left-menu">
    <h5>About Us</h5>
    <ul>
      <li><a href="#">Culture</a></li>
      <li><a href="#">Benefits</a></li>
      <li><a href="#">Join Our Team</a></li>
      <li><a href="#">Current Openings</a></li>
    </ul>
    </div>
  </div>

    <div class="col-md-7">
      <div class="hero-image">
        <img src="assets/knightpoint/careers.png" />
        <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
      </div>
      </div>
    </div>
  <div class="col-md-2">
    <img src="assets/knightpoint/rightbar.png" />
  </div>
</div>

  </div>
</div>

<!-- Social -->
<style type="text/css">

.footermenu li {
  list-style-type: none;
  display: inline-block;
}

.footermenu li a {
  font-size: 12px;
}

.social img {
  width:24px;
}

.social li {
    list-style-type: none;
    display: inline-block;
}

.bottomlinks li {
    list-style-type: none;
    display: inline-block;
}

.bottomlinks li a {
  font-size: 10px;
}

</style>


<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="footermenu">
       <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Sectors</a></li>
          <li><a href="#">Expertise</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Careers</a></li>
       </ul>
      </div>
      </div>
      <div class="col-md-4">
        <div class="social">
          <ul>
            <li><img src="assets/knightpoint/rss.png" /></li>
            <li><img src="assets/knightpoint/linkedin.png" /></li>
            <li><img src="assets/knightpoint/facebook.png" /></li>
            <li><img src="assets/knightpoint/twitter.png" /></li>
            <li><img src="assets/knightpoint/youtube.png" /></li>
          </ul>
        </div>
      </div>
    </div>  
<div class="row">
  <div class="col-md-6">
    <div class="bottomlinks">
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Accessibility</a></li>
       </ul>

<style type="text/css">

.copyright p {
  font-size: 10px;
  margin-left: 60px;
}

</style>
    <div class="copyright">
       <p>Copyright 2013 - All Rights Reserved</p>
    </div>
    </div>
  </div>

</div>

  </div>
</div>


<!-- Footer -->
<footer>
  <div class="container">
   <!-- <div class="row">

      <div class="widgets">
        <div class="col-md-4">
          <div class="fwidget">

            <div class="col-l">
              <h6>Downlaods</h6>
              <ul>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Etiam at</a></li>
                <li><a href="#">Fusce vel</a></li>
                <li><a href="#">Vivamus</a></li>
                <li><a href="#">Pellentesque</a></li>
              </ul>
            </div>

            <div class="col-r">
              <h6>Support</h6>
              <ul>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Etiam at</a></li>
                <li><a href="#">Fusce vel</a></li>
                <li><a href="#">Vivamus</a></li>
                <li><a href="#">Pellentesque</a></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="fwidget">
            <h6>Categories</h6>
            <ul>
              <li><a href="#">Condimentum - Condimentum gravida</a></li>
              <li><a href="#">Etiam at - Condimentum gravida</a></li>
              <li><a href="#">Fusce vel - Condimentum gravida</a></li>
              <li><a href="#">Vivamus - Condimentum gravida</a></li>
              <li><a href="#">Pellentesque - Condimentum gravida</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fwidget">
            <h6>Recent Posts</h6>
            <ul>
              <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
              <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
              <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
              <li><a href="#">Vivamus scelerisque dui in massa</a></li>
              <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-12">
          <!--<div class="copy">
            <h6>Metro <span class="color">Mania</span></h6>
            <p>Copyright &copy; <a href="#">Your Site</a> - <a href="index.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="faq.html">FAQ</a> | <a href="contactus.html">Contact Us</a></p>
          </div>-->
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 

<!-- JS -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.js"></script>
<script src="http://responsivewebinc.com/premium/metro/blue/js/bootstrap.js"></script> 
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.isotope.js"></script> <!-- Isotope for gallery -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.cslider.js"></script> <!-- Parallax slider -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/modernizr.custom.28468.js"></script>
<script src="http://responsivewebinc.com/premium/metro/blue/js/filter.js"></script> <!-- Filter for support page -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/cycle.js"></script> <!-- Cycle slider -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.flexslider-min.js"></script> <!-- Flex slider -->

<script src="http://responsivewebinc.com/premium/metro/blue/js/easing.js"></script> <!-- Easing -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/custom.js"></script>
</body>
</html>