<%= render 'layouts/knightpoint' %>

<div class="content">
  <div class="container">

<div class="row">

  <div class="col-md-2">
    <div class="left-menu">
    <h5>Careers</h5>
    <ul>
      <li><a href="#">Culture</a></li>
      <li><a href="#">Benefits</a></li>
      <li><a href="#">Join Our Team</a></li>
      <li><a href="#">Current Openings</a></li>
    </ul>
    </div>
  </div>

    <div class="col-md-7">
      <div class="hero-image">
        <img src="assets/knightpoint/careers.png" />
        <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac enim faucibus, dictum enim id, ultricies metus. Nam nibh eros, condimentum a scelerisque eu, malesuada sed ante. Fusce sem diam, adipiscing pharetra justo a, feugiat rhoncus urna. Maecenas non diam pellentesque, sagittis risus in, vestibulum lacus. Curabitur placerat nisl at ultricies venenatis. Quisque tempor sem vel dui bibendum, eu vehicula metus bibendum. Suspendisse mattis luctus est sit amet eleifend. Donec sollicitudin pretium venenatis. Etiam risus dolor, aliquam ultricies eros id, hendrerit sodales arcu. Suspendisse potenti. Pellentesque vestibulum adipiscing turpis, at euismod risus semper eu.</p>
      </div>
      </div>
    </div>
  <div class="col-md-2">
    <img src="assets/knightpoint/rightbar.png" />
  </div>
</div>

  </div>
</div>


<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="footermenu">
       <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Sectors</a></li>
          <li><a href="#">Expertise</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Careers</a></li>
       </ul>
      </div>
      </div>
      <div class="col-md-4">
        <div class="social">
          <ul>
            <li><img src="assets/knightpoint/rss.png" /></li>
            <li><img src="assets/knightpoint/linkedin.png" /></li>
            <li><img src="assets/knightpoint/facebook.png" /></li>
            <li><img src="assets/knightpoint/twitter.png" /></li>
            <li><img src="assets/knightpoint/youtube.png" /></li>
          </ul>
        </div>
      </div>
    </div>  
<div class="row">
  <div class="col-md-6">
    <div class="bottomlinks">
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Accessibility</a></li>
       </ul>

<style type="text/css">

.copyright p {
  font-size: 10px;
  margin-left: 60px;
}

</style>
    <div class="copyright">
       <p>Copyright 2013 - All Rights Reserved</p>
    </div>
    </div>
  </div>

</div>

  </div>
</div>


<!-- Footer -->
<footer>
  <div class="container">
   <!-- <div class="row">

      <div class="widgets">
        <div class="col-md-4">
          <div class="fwidget">

            <div class="col-l">
              <h6>Downlaods</h6>
              <ul>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Etiam at</a></li>
                <li><a href="#">Fusce vel</a></li>
                <li><a href="#">Vivamus</a></li>
                <li><a href="#">Pellentesque</a></li>
              </ul>
            </div>

            <div class="col-r">
              <h6>Support</h6>
              <ul>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Etiam at</a></li>
                <li><a href="#">Fusce vel</a></li>
                <li><a href="#">Vivamus</a></li>
                <li><a href="#">Pellentesque</a></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="fwidget">
            <h6>Categories</h6>
            <ul>
              <li><a href="#">Condimentum - Condimentum gravida</a></li>
              <li><a href="#">Etiam at - Condimentum gravida</a></li>
              <li><a href="#">Fusce vel - Condimentum gravida</a></li>
              <li><a href="#">Vivamus - Condimentum gravida</a></li>
              <li><a href="#">Pellentesque - Condimentum gravida</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fwidget">
            <h6>Recent Posts</h6>
            <ul>
              <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
              <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
              <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
              <li><a href="#">Vivamus scelerisque dui in massa</a></li>
              <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-12">
          <!--<div class="copy">
            <h6>Metro <span class="color">Mania</span></h6>
            <p>Copyright &copy; <a href="#">Your Site</a> - <a href="index.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="faq.html">FAQ</a> | <a href="contactus.html">Contact Us</a></p>
          </div>-->
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 

<!-- JS -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.js"></script>
<script src="http://responsivewebinc.com/premium/metro/blue/js/bootstrap.js"></script> 
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.isotope.js"></script> <!-- Isotope for gallery -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.cslider.js"></script> <!-- Parallax slider -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/modernizr.custom.28468.js"></script>
<script src="http://responsivewebinc.com/premium/metro/blue/js/filter.js"></script> <!-- Filter for support page -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/cycle.js"></script> <!-- Cycle slider -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.flexslider-min.js"></script> <!-- Flex slider -->

<script src="http://responsivewebinc.com/premium/metro/blue/js/easing.js"></script> <!-- Easing -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/custom.js"></script>
</body>
</html>