
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Knight Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>

  
  <!-- Stylesheets -->
  <link href="http://responsivewebinc.com/premium/metro/blue/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/font-awesome.css">
  <link href="http://responsivewebinc.com/premium/metro/blue/style/prettyPhoto.css" rel="stylesheet">
  <!-- Parallax slider -->
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/slider.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/flexslider.css">

  <link href="http://responsivewebinc.com/premium/metro/blue/style/style.css" rel="stylesheet">

  <!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
  <link href="http://responsivewebinc.com/premium/metro/blue/style/blue.css" rel="stylesheet">

  
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="http://responsivewebinc.com/premium/metro/blue/js/html5shim.js"></script>
  <![endif]-->

  
</head>

<body>
<style type="text/css">


header {
    background: #1570a6;
}

</style>
<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="logo">
          <a href="#"><img src="assets/knightpoint/logo.png"></a>
        </div>
      </div>

    </div>
  </div>
</header>

<!-- Navigation bar starts -->

            <div class="navbar bs-docs-nav" role="banner">
              <div class="container">
               <div class="navbar-header">
                 <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
               </div>
               
                  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                         <ul class="dropdown-menu">
                           <li><a href="#">Page 1</a></li>
                           <li><a href="#">Page 2</a></li>
                           <li><a href="#">Page 3</a></li>
                           <li><a href="#">Page 4</a></li>
                        </ul>
                      </li> 
                      <li><a href="index1.html">Sectors</a></li>
                      <li><a href="index1.html">Expertise</a></li>
                      <li><a href="index1.html">Contracts</a></li>
                      <li><a href="index1.html">Media Center</a></li>
                      <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Careers <b class="caret"></b></a>
                         <ul class="dropdown-menu">
                           <li><a href="#">Benefits</a></li>
                           <li><a href="#">Applications</a></li>
                           <li><a href="#">Directions</a></li>
                           <li><a href="#">Locations</a></li>
                        </ul>
                      </li> 
                    </ul>
                  </nav>
                 </div>
              </div>

<!-- Navigation bar ends -->


<div class="content">
  <div class="container">
  	<h2>Page Title</h2>
  	<p class="big grey">Text here with short description</p>

<div class="row">
            <div class="col-md-9">
               <!-- Staff #1 -->
               <p>text text text text text text text text text text </p>
            </div>
            <div class="col-md-3">
               <!-- Staff #1 -->
               <p>text text text text text text text text text text </p>
            </div>
         </div>

	</div>
</div>

<!-- Social -->

<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="big"><span>Follow Us On</span> <a href="#"><i class="icon-facebook"></i>Facebook</a> <a href="#"><i class="icon-twitter"></i>Twitter</a> <!--<a href="#"><i class="icon-google-plus"></i>Google Plus</a> --><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></p>
      </div>
    </div>    
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
   <!-- <div class="row">

      <div class="widgets">
        <div class="col-md-4">
          <div class="fwidget">

            <div class="col-l">
              <h6>Downlaods</h6>
              <ul>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Etiam at</a></li>
                <li><a href="#">Fusce vel</a></li>
                <li><a href="#">Vivamus</a></li>
                <li><a href="#">Pellentesque</a></li>
              </ul>
            </div>

            <div class="col-r">
              <h6>Support</h6>
              <ul>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Etiam at</a></li>
                <li><a href="#">Fusce vel</a></li>
                <li><a href="#">Vivamus</a></li>
                <li><a href="#">Pellentesque</a></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="fwidget">
            <h6>Categories</h6>
            <ul>
              <li><a href="#">Condimentum - Condimentum gravida</a></li>
              <li><a href="#">Etiam at - Condimentum gravida</a></li>
              <li><a href="#">Fusce vel - Condimentum gravida</a></li>
              <li><a href="#">Vivamus - Condimentum gravida</a></li>
              <li><a href="#">Pellentesque - Condimentum gravida</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fwidget">
            <h6>Recent Posts</h6>
            <ul>
              <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
              <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
              <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
              <li><a href="#">Vivamus scelerisque dui in massa</a></li>
              <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-12">
          <!--<div class="copy">
            <h6>Metro <span class="color">Mania</span></h6>
            <p>Copyright &copy; <a href="#">Your Site</a> - <a href="index.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="faq.html">FAQ</a> | <a href="contactus.html">Contact Us</a></p>
          </div>-->
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 

<!-- JS -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.js"></script>
<script src="http://responsivewebinc.com/premium/metro/blue/js/bootstrap.js"></script> 
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.isotope.js"></script> <!-- Isotope for gallery -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.cslider.js"></script> <!-- Parallax slider -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/modernizr.custom.28468.js"></script>
<script src="http://responsivewebinc.com/premium/metro/blue/js/filter.js"></script> <!-- Filter for support page -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/cycle.js"></script> <!-- Cycle slider -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/jquery.flexslider-min.js"></script> <!-- Flex slider -->

<script src="http://responsivewebinc.com/premium/metro/blue/js/easing.js"></script> <!-- Easing -->
<script src="http://responsivewebinc.com/premium/metro/blue/js/custom.js"></script>
</body>
</html>