
<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.0 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>PPMD | Donor Portfolio</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link href="http://www.cliptheme.com/demo/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/fonts/style.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/css/main.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/css/main-responsive.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/iCheck/skins/all.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/css/theme_light.css" id="skin_color">
		<!--[if IE 7]>
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="stylesheet" href="http://www.cliptheme.com/demo/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="shortcut icon" href="favicon.ico" />
		<style type="text/css">

		.breadcrumb {
			margin-top: 40px;
		}

		.image img {
			float: left;
			height: 160px;
		}

		.searchresult {
			border: solid 2px #f5f5f5;
			border-radius:10px;
			padding:20px;
			margin: 20px;
		}

		.allocate {
			margin-bottom: 80px;
		}

		.progress-bar h6 {
			margin-top: 5px;
		}


		.price {
			text-align: center;
		}

		.allocate {
			text-align: center;
		}
		</style>
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: HEADER -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<!-- start: TOP NAVIGATION CONTAINER -->
			<div class="container">
				<div class="navbar-header">
					<!-- start: RESPONSIVE MENU TOGGLER -->
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="clip-list-2"></span>
					</button>
					<!-- end: RESPONSIVE MENU TOGGLER -->
					<!-- start: LOGO -->
					<a class="navbar-brand" href="dashboard.html">
						<img src="assets/logo.jpg">
											</a>
					<!-- end: LOGO -->
				</div>
				<div class="navbar-tools">
					<!-- start: TOP NAVIGATION MENU -->
					<ul class="nav navbar-right">


						
						<!-- start: USER DROPDOWN -->
						<li class="dropdown current-user">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img src="http://www.cliptheme.com/demo/assets/images/avatar-1-small.jpg" class="circle-img" alt="">
								<span class="username">Kim Galberaith</span>
								<i class="clip-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="pages_user_profile.html">
										<i class="clip-user-2"></i>
										&nbsp;My Profile
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="utility_lock_screen.html"><i class="clip-locked"></i>
										&nbsp;Lock Screen </a>
								</li>
								<li>
									<a href="login_example1.html">
										<i class="clip-exit"></i>
										&nbsp;Log Out
									</a>
								</li>
							</ul>
						</li>
						<!-- end: USER DROPDOWN -->
					</ul>
					<!-- end: TOP NAVIGATION MENU -->
				</div>
			</div>
			<!-- end: TOP NAVIGATION CONTAINER -->
		</div>
		<!-- end: HEADER -->
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<div class="navbar-content">
				<!-- start: SIDEBAR -->
				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
										<!-- start: MAIN NAVIGATION MENU -->
					<ul class="main-navigation-menu">
						<li>
							<a href="dashboard.html"><i class="clip-home-3"></i>
								<span class="title"> My Portfolio </span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="ppmdsearch.html"><i class="clip-location"></i>
								<span class="title">Browse Projects</span>
								<span class="selected"></span>
							</a>
						</li>
						<!--<li>
							<a href="funds.html"><i class="clip-banknote"></i>
								<span class="title">Browse Funds</span>
								<span class="selected"></span>
							</a>
						</li>-->
						<li>
							<a href="history.html"><i class="clip-bars"></i>
								<span class="title">Transaction History</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="addfunds"><i class="clip-plus-circle"></i>
								<span class="title">Add Funds</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="complete-projects"><i class="clip-list"></i>
								<span class="title">Completed Projects</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="account.html"><i class="clip-cog-2"></i>
								<span class="title">Manage Account</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="faq.html"><i class="clip-pencil"></i>
								<span class="title">FAQs</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="contact.html"><i class="clip-user-2"></i>
								<span class="title">Contact/Feedback</span>
								<span class="selected"></span>
							</a>
						</li>
						<!--<li>
							<a href="reports.html"><i class="clip-tablet"></i>
								<span class="title">Report Tool</span>
								<span class="selected"></span>
							</a>
						</li>-->
					</ul>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR -->
			</div>
			<!-- start: PAGE -->
			<div class="main-content">
				<!-- start: PANEL CONFIGURATION MODAL FORM -->
				<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title">Panel Configuration</h4>
							</div>
							<div class="modal-body">
								Here will be a configuration form
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary">
									Save changes
								</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- end: SPANEL CONFIGURATION MODAL FORM -->
				<div class="container">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-home-3"></i>
									<a href="dashboard">
										Breadcrumbs
									</a>
								</li>
							</ol>							
							<div class="page-header">
								<h1>My Donor Portfolio </h1>
								<small>Kim Galberaith</small><br />
								<small>Member ID: 5321</small>

							</div>

							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->