
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Knight Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>

  
  <!-- Stylesheets -->
  <link href="http://responsivewebinc.com/premium/metro/blue/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/font-awesome.css">
  <link href="http://responsivewebinc.com/premium/metro/blue/style/prettyPhoto.css" rel="stylesheet">
  <!-- Parallax slider -->
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/slider.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="http://responsivewebinc.com/premium/metro/blue/style/flexslider.css">

  <link href="http://responsivewebinc.com/premium/metro/blue/style/style.css" rel="stylesheet">

  <!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
  <link href="http://responsivewebinc.com/premium/metro/blue/style/blue.css" rel="stylesheet">
<style type="text/css">
header {
    background: #1570a6;
}

.col-md-2 img {
	width: 180px;
	margin-top: -20px;
	margin-left: -40px;
}

.hero-image img {
width: 500px;
margin-top: -18px;
}

.text p {
  font-size: 12px;
line-height: 18px;
padding: 16px;
}

.left-menu a {
  font-size: 12px;
}

.footermenu li {
  list-style-type: none;
  display: inline-block;
}

.footermenu li a {
  font-size: 12px;
}

.footermenu li a:hover {
	font-size: 12px;
	color: black;
}

.social img {
  width:24px;
}

.social li {
    list-style-type: none;
    display: inline-block;
}

.bottomlinks li {
    list-style-type: none;
    display: inline-block;
}

.bottomlinks li a {
  font-size: 10px;
}

</style>
  
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="http://responsivewebinc.com/premium/metro/blue/js/html5shim.js"></script>
  <![endif]-->

  
</head>

<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="logo">
          <a href="knightpoint"><img src="assets/knightpoint/logo.png"></a>
        </div>
      </div>

    </div>
  </div>
</header>


<!-- Navigation bar starts -->

            <div class="navbar bs-docs-nav" role="banner">
              <div class="container">
               <div class="navbar-header">
                 <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
               </div>
               
                  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                      <li><a href="knightpoint-about">About Us</a></li>
                      <li><a href="knightpoint-sectors">Sectors</a></li>
                      <li><a href="knightpoint-expertise">Expertise</a></li>
                      <li><a href="knightpoint-contracts">Contracts</a></li>
                      <li><a href="knightpoint-media">Media Center</a></li>
                      <li><a href="knightpoint-careers">Careers</a></li>
                    </ul>
                  </nav>
                 </div>
              </div>

<!-- Navigation bar ends -->
