		<div class="form">
				<form id="nl-form" class="nl-form">
					This year I will 
					<select>
						<option value="1" selected>+select</option>
						<option value="2">watch less tv</option>
						<option value="3">exercise more</option>
						<option value="4">eat healthier</option>
						<option value="2">be friendlier</option>
					</select>
					and also donate
					<select>
						<option value="1" selected>+select</option>
						<option value="2">$5</option>
						<option value="3">$10</option>
						<option value="4">$25</option>
						<option value="2">$100</option>
					</select>
					. This will make the world a better place and me
					<select>
						<option value="1" selected>+select.</option>
					 	<option value="1">more interesting.</option>
					 	<option value="2">even more irresistable.</option>
					 	<option value="3">the center of attention.</option>
					</select> Send my resolution promissory note to
					<input type="text" value="" placeholder="+email" data-subline="For example: <em>iRule@gmail.com</em>"/>
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">I'm Doing It</button>
					</div>
					<div class="nl-overlay"></div>
				</form>
		</div>
		<script src="http://tympanus.net/Tutorials/NaturalLanguageForm/js/nlform.js"></script>
		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
	</body>
</html>