<link rel="stylesheet" type="text/css" href="http://tympanus.net/Development/AnimatedCheckboxes/css/component.css" />
			<section>
				<form class="ac-custom ac-radio ac-fill" autocomplete="off">
					<h2 style="font-size:2em;">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h2>
					<ul>
						<li><input id="r1" name="r1" type="radio"><label for="r1">Option 1</label></li>
						<li><input id="r1" name="r1" type="radio"><label for="r1">Option 2</label></li>
						<li><input id="r1" name="r1" type="radio"><label for="r1">Option 3</label></li>
					</ul>
				</form>
			</section>
			<section>
				<form class="ac-custom ac-radio ac-fill" autocomplete="off">
					<h2 style="font-size:2em;">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h2>
					<input type="text" />
				</form>
				<button class="btn">Submit</button>
			</section>
		<script src="http://tympanus.net/Development/AnimatedCheckboxes/js/svgcheckbx.js"></script>
		<!-- For the demo ad only -->   
