<ul class="main-navigation-menu">
						<li class="active open">
							<a href="dashboard.html"><i class="clip-home-3"></i>
								<span class="title"> Dashboard </span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="blank.html"><i class="clip-location"></i>
								<span class="title">Browse Projects</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="blank.html"><i class="clip-location"></i>
								<span class="title">Browse Funds</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="blank.html"><i class="clip-bars"></i>
								<span class="title">Transaction History</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="blank.html"><i class="clip-cog-2"></i>
								<span class="title">Manage Account</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="blank.html"><i class="clip-pencil"></i>
								<span class="title">FAQs</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="blank.html"><i class="clip-user-2"></i>
								<span class="title">Contact Staff</span>
								<span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="blank.html"><i class="clip-location"></i>
								<span class="title">Report Tool</span>
								<span class="selected"></span>
							</a>
						</li>
					</ul>